/* QuestionList.css */

/* Container styling for the entire question list */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styling */
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Styling for the dropdowns and filter button container */
  .filter-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .filter-container .MuiFormControl-root {
    margin: 0 10px;
    min-width: 120px;
  }
  
  .filter-container button {
    margin-left: 10px;
  }
  
  /* List styling */
  ol {
    list-style-type: none;
    padding-left: 0;
  }
  
  .list-group-item {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 1 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .list-group-item h4 {
    font-size: 1.4rem;
    margin: 0 0 10px 0;
    font-family: 'Roboto', sans-serif;
  }

  .list-group-item h5 {
    font-size: 1rem;
    margin: 0 0 10px 0;
    color: #666;
    font-family: 'Roboto', sans-serif;
  }
  
  .list-group-item h6 {
    font-size: 0.9rem;
    margin: 0 0 10px 0;
    color: #666;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Category and difficulty text */
  .list-group-item p {
    font-size: 0.8rem;
    margin: 5px 0 0;
    color: #444;
  }
  
  /* Hover effect on question list items */
  .list-group-item:hover {
    background-color: #dadada;
    cursor: pointer;
  }

  .dropdown {
    min-width: 200px;  /* Set this to a reasonable value based on your design */
    white-space: nowrap;  /* Prevent text wrapping */
  }
  
  /* Optionally remove the text ellipsis */
  .dropdown MenuItem {
    overflow: visible;  /* Ensure text can overflow if necessary */
  }

  .newQuestion {
    display: flex;
    position: flex;
  }  

  .MuiCard-root:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  
  .MuiButton-containedPrimary {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    max-width: 10vw;
    max-height: 10vh;
    gap: 10px;
    margin: 3px auto;
  }

  .MuiButton-containedSecondary {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
    max-width: 10vw;
    max-height: 10vh;
    gap: 10px;
    margin: 3px auto;
  }
  
  .MuiTypography-h5 {
    font-weight: bold;
  }
  
  .container {
    max-width: 120px;
    margin: 0 auto;
  }

  .questionEdit {
    margin: auto;
    gap: 10px;
    background-color: #e0e0e0;
    padding: 10px;
    border: 1px solid #ccc;
  }
